<p style="color: green"><%= notice %></p>

<%= render @muffin %>

<div>
  <%= link_to "Edit this muffin", edit_muffin_path(@muffin) %> |
  <%= link_to "Back to muffins", muffins_path %>

  <%= button_to "Destroy this muffin", @muffin, method: :delete %>
</div>
